<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ifba.adsnotify" >


    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Necessário para dispositivos mais antigos
     usado para checar app background / foreground status -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Autenticacao -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Sincronizacao -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />


                 <!-- Adicionado para GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="br.com.ifba.adsnotify.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="br.com.ifba.adsnotify.permission.C2D_MESSAGE" />
                        <!-- Fim GCM-->

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="br.com.ifba.adsnotify.activity.AuthenticatorActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Avaliação Activity-->
        <activity
            android:name="br.com.ifba.adsnotify.activity.AvaliacaoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="AvaliacaoActivity"
            android:parentActivityName="br.com.ifba.adsnotify.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.ifba.adsnotify.activity.MainActivity" />
        </activity>

        <!-- Disciplinas Activity-->
        <activity
            android:name="br.com.ifba.adsnotify.activity.DisciplinaActivity"
            android:label="DisciplinaActivity"
            android:parentActivityName="br.com.ifba.adsnotify.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.ifba.adsnotify.activity.MainActivity" />
        </activity>

        <!-- Documento Activity-->
        <activity
            android:name="br.com.ifba.adsnotify.activity.DocumentoActivity"
            android:label="DocumentoActivity"
            android:parentActivityName="br.com.ifba.adsnotify.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.ifba.adsnotify.activity.MainActivity" />
        </activity>

        <!-- Professor Activity-->
        <activity
            android:name="br.com.ifba.adsnotify.activity.ProfessorActivity"
            android:label="ProfessorActivity"
            android:parentActivityName="br.com.ifba.adsnotify.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.ifba.adsnotify.activity.MainActivity" />
        </activity>

        <!-- Singnup Activity-->
        <activity android:name="br.com.ifba.adsnotify.activity.SignupActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- RenderViewsDocs Activity-->
        <activity android:name="br.com.ifba.adsnotify.activity.RenderViewDocs"
            android:screenOrientation="portrait" >
        </activity>

        <!-- SERVICO DE AUTENTICACAO -->
        <service android:name=".sync.AuthenticationService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- SERVICO DE SINCRONIZACAO -->
        <service
            android:name=".sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>




        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="br.com.ifba.adsnotify" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".gcm.GcmIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

    </application>
</manifest>
